<!DOCTYPE html>
<html lang="en">

<head>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>phone call </title>
</head>

<body>
    <div class="smartphone">
        <div class="content">
            <div class="nav-item">
                <i class="fas fa-phone-alt center"></i>
            </div>
            <div class="nav-item">
                <i class="far fa-clock center"></i>
            </div>
            <div class="nav-item">
                <i class="fas fa-user-friends center"></i>
            </div>
            <hr>
            <ul> </ul>


            <script>
                const electron = require('electron');
                const fs = window.require('fs');
                const path = window.require('path');
                const { ipcRenderer } = electron;
                const ul = document.querySelector('ul');
                ipcRenderer.on('item:call', document.querySelector('body').onload = function (e, num, time) {
                    if (num == undefined) {

                        console.log("no data yet")
                    }
                    else {
                        let pathName = path.join(__dirname, 'files');
                        let file = path.join(pathName, 'calls.txt');
                        let arr = ["\n" + num + "_" + time];
                        fs.appendFileSync(file, arr, function (err) {
                            if (err) {
                                return console.log(err);
                            } else {
                                console.log("the number is added successfuly");
                            }
                        });


                        console.log(ipcRenderer);
                        console.log(num + time);
                        ul.className = 'collection';
                        const li = document.createElement('li');
                        li.className = 'collection-item';
                        const div1 = document.createElement('div');
                        div1.className = 'card';
                        const div2 = document.createElement('div');
                        div2.className = 'card-body book';
                        const div3 = document.createElement('div');
                        const h4 = document.createElement('h4');
                        const p = document.createElement('p');
                        const numero = document.createTextNode("number: " + num)
                        const date = document.createTextNode("date : " + time)
                        const div4 = document.createElement('div');
                        const ii = document.createElement('i');
                        ii.className = 'fas fa-phone-alt';
                        ul.appendChild(li);
                        li.appendChild(div1)
                        div1.appendChild(div2)
                        div2.appendChild(div3)
                        div3.appendChild(h4)
                        div3.appendChild(p)
                        h4.appendChild(numero)
                        p.appendChild(date)

                    };
                });

                window.addEventListener("load", () => {
                    //
                    fs.readFileSync('./files/calls.txt', 'utf-8').split(/\n/).forEach(function (row) {
                        row = row.split("_");
                        var numberList = new Array();
                        for (var i = 0; i < row.length; i++) {
                            numberList.push(row[i]);
                            if (i != row.length - 1) {
                                numberList.push("");
                            }
                        }
                        ul.className = 'collection';
                        const li = document.createElement('li');
                        li.className = 'collection-item';
                        const div1 = document.createElement('div');
                        div1.className = 'card';
                        const div2 = document.createElement('div');
                        div2.className = 'card-body book';
                        const div3 = document.createElement('div');
                        const h4 = document.createElement('h4');
                        const p = document.createElement('p');
                        const numero = document.createTextNode("number: " + numberList[0])
                        const date = document.createTextNode("time: " + numberList[2])
                        const div4 = document.createElement('div');
                        const ii = document.createElement('i');
                        ii.className = 'fas fa-phone-alt';
                        ul.appendChild(li);
                        li.appendChild(div1)
                        div1.appendChild(div2)
                        div2.appendChild(div3)
                        div3.appendChild(h4)
                        div3.appendChild(p)
                        h4.appendChild(numero)
                        p.appendChild(date)
                    });
                });
            </script>


        </div>
    </div>
</body>

</html>